body {
	font-size: 20px;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}
.header {
	background: #666666;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	color: white;
}
.left {
	float: left;
	padding-top: 250px;
	padding-bottom: 250px;
	background: #77bcdd;
	width: 20%;
	text-align: center;
}
.center {
	text-align: center;
	float: left;
	padding-top: 250px;
	padding-bottom: 250px;
	background: #d6d6d6;
	width: 65%;
}
.right {
	text-align: center;
	float: left;
	padding-top: 250px;
	padding-bottom: 250px;
	background: #ff6634;
	width: 15%;
}
.footer {
	color: white;
	background: #666666;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}
.clearfix:after{
	content: ' ';
	display: table;
	clear: both;
}