body {
	padding: 0px;
	border: 0px;
	margin: 0px;
	font-family: arial;
}
h1, h2, h3 {
	font-weight: normal;
}
.name {
	margin: 0px;
}
.top {
	color:  #6b6b6b;
	float: left;
}
img {
	float: left;
	margin-top: 7px;
}
.header {
	background: #cccccc;
	padding: 20px;
	border:1px solid black;
}
.clearfix:after{
	content: ' ';
	display: table;
	clear: both;
}
.menu {
	background: #383838;
	margin-bottom: 10px;
}
.select {
	margin: 0px;
	float: left;
	padding: 10px;
	background: white;
}
.noselect {
	margin: 0px;
	float: left;
	padding: 10px;
}
.noselect:hover {
	margin: 0px;
	float: left;
	padding: 10px;
	color: black;
	background: #cccccc;
}
.navigation {
	background: #383838;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0px;
}
.column {
	position: relative;
}
.left {
	position: absolute;
	background: #cccccc;
	padding-top: 4px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 500px;
}
.right {
	left: 260px;
	position: absolute;
}
a {
	display: block;
	color: white;
	text-decoration: none;
}
a:visited {
	color: white;
}
.navigation:hover {
	text-decoration: underline;
	color: black;
	background: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0px;
}