body {
    padding: 0px;
    border: 0px;
    margin: 0px;
    font-family: arial;
}

.header > h1 {
    margin: 0px;
    text-align: center;
}

.wrapper, .wrapper2 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.wrapper2 {
  justify-content:center;
}

ul {
  list-style: none;
}

.offcanvas {
  padding: 0px;
  margin: 0px;
  display: none;
}

.navigation ul{
  padding: 0px;
  margin: 5px 0px;
}

.offcanvas a, .navigation a{
    background: black;
    color: white;
    display:block;
    text-decoration: none;
    padding: 10px;
    border-top: 1px solid white;
}

.offcanvas a:hover, .navigation a:hover {
  background: #ccc8ba;
}

h4,h5 {
    margin: 0px;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.wrapper2 > * {
  flex: 1 100%;
}

.footer h4 {
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
  font-style: italic;
}

img {
    max-width: 100%;
}

label {
  font-size: 40px;
}

.header {
  padding: 0;
  background: #ccc8ba;
}

.footer {
  background: #ccc8ba;
}

.main {
  background: #e7e3d4;
}

.main > * {
    background: white;
    padding: 5px;
    border-radius: 20px;
}

.main h4 {
    text-align: center;
    margin: 7px;
}

.wrapper2 > p {
    margin: 5px;
}

.title1 {
    margin-bottom: 5px;
}

.aside-1 {
  background: #ebe9e3;
  display: none;
}

.aside-2 {
  background: white;
  display: none;
}

.nav-trigger:checked ~.offcanvas {
  display: block;
}

.nav-trigger {
  display: none;
}
.img1 {
  display: none;
}

@media all and (min-width: 320px) {
  .img2 {display: none;}
  .img1 {display: block;}
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

@media all and (min-width: 640px) {
  .wrapper2 > div { flex: 1 1 0px; max-width: 256px;}
  .wrapper2 > p { flex: 2 0px; }
  .aside-2 {display: block;} 
}

@media all and (min-width: 980px) {
  .menu { display: none; }
  .aside { flex: 0 0 200px; }
  .main    { flex: 1 0px; }
  .aside-1 {display: block;} 
}

@media all and (min-width: 1440px) {
  .main {font-size: 20px;}
}